@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");
*{
 margin: 0;    
 padding: 0;
}

body {

    height: 100vh;
    box-sizing: border-box;
    background-color: black;
color:white;
}
.TituloDestaque{
  color: aqua;
}
.Linguagens {
 color: brown;
}
.apresentacao{
    margin: 10% 20%;
  display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__Conteudo{
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.apresentacao__Conteudo__Titulo{
font-size: 36px; 
font-family: 'Krona One', sans-serif; 
}
.apresentacao__Conteudo__Texto{
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}
.apresentacao__Links{
  display: flex;
justify-content: space-between;

}
.apresentacao__Links__Link {
 background-color: aqua; 
 text-align: center;
 width: 280px;
 border-radius: 16px;
 padding: 21.5px 0;
 text-decoration: none;
 color: black;
 font-family: 'Montserrat', sans-serif;
font-weight: 600;
}